In [44]:
import pandas as pd

cols = pd.read_csv('../stuff.csv')

cols

df_2017 = pd.read_csv('../personsx.csv', usecols = cols['Feature name in Doc'])
df_2017 = df.fillna(0)
df_2017.head()

,SEX,NOWAF,FMX,R_MARITL,HISCODI3,AGE_P,SRVY_YR,PARENTS,DAD_DEGP,MOM_DEGP,...,LADURA18,LADURB17,LADURB18,LACHRC17,LACHRC18,HIKINDNK,YRSINUS,CITIZENP,EDUC1,ERNYR_P
0,2,0.0,1,4,2,65,2017,4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,0.0,1,15,0.0
1,2,2.0,1,7,3,27,2017,4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,0.0,1,13,0.0
2,1,0.0,1,0,3,10,2017,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2,0.0,1,3,0.0
3,1,2.0,1,7,2,19,2017,4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,0.0,1,15,1.0
4,2,2.0,1,1,2,43,2017,4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,0.0,1,14,0.0